<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>Infosec PhD contact points</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">Notify us about an issue <small>{{ github_name }}</small></a></p>
        {% endif %}

        This list was created by:
        <ul>
            <li>
                <a href="https://www.emilianodc.com/">
                    <strong>Emiliano De Cristofaro</strong>
                </a>
            </li>
            <li>
                <a href="http://www.isg.rhul.ac.uk/~kp/">
                    <strong>Kenny Paterson</strong>
                </a>
            </li>
        </ul>

        Other maintainers:
        <ul>
        <li>
            <a href="https://alxdavids.xyz">
                <strong>Alex Davidson</strong>
            </a>
        </li>
        </ul>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This page was created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
