<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">

{% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <a href="{{ site.github.url }}"> <h1>Infosec PhD contact points</h1> </a>
        <p>{{ site.description | default: site.github.project_tagline }}</p>

        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}"><strong>Notify us about an issue</strong> <small>{{ github_name }}</small></a></p>
        {% endif %}

        <p class="view">
            <a href="{{ site.github.url }}/#current-positions">
                <strong>Current openings</strong>
            </a>
        </p>

        <p class="view">
            <a href="https://github.com/alxdavids/comp-sci-phd-contacts/blob/master/PAST-POSITIONS.md">
                <strong>Past openings</strong>
            </a>
        </p>

        <p> This list was curated by: </p>
        <div class="ignore-css">
            <p>&bull;
                <a href="https://www.emilianodc.com/">Emiliano De Cristofaro</a>
            </p>
            <p>&bull;
                <a href="http://www.isg.rhul.ac.uk/~kp/">Kenny Paterson</a>
            </p>
        </div>

        <p> Other maintainers: </p>
        <div class="ignore-css">
            <p>&bull;
                <a href="https://alxdavids.xyz/">Alex Davidson</a>
            </p>
        </div>
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        {% if site.github.is_project_page %}
        <p>This page was created by <a href="{{ site.github.owner_url }}">{{ site.github.owner_name }}</a></p>
        {% endif %}
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>
  </body>
</html>
